@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Teko', sans-serif;
    color: whitesmoke;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("bg.png") no-repeat center;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.container .content{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title h1{
    font-size: calc(10px + 5vw);
    line-height: 0.8;
}
.title p{
    font-size: calc(10px + 1vw);
}

.container .content .countdown h1{
    font-size: calc(10px + 6vw);
    line-height: 0.8;
}
.container .content .countdown p{
    font-size: calc(10px + 1vw);
}